
$theme: '';
@import "compass/css3";


/*
 *	Command toolbar icons, retina ready. Need some polishing.
 */
#{$theme}.sc-wysiwyg-toolbar, #{$theme}.sc-wysiwyg-segmented {

	.bold {
		width: 12px;
		height: 15px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_bold_0_0___0_0;
-chance-offset: "resources/images/icons/bold_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.italic {
		width: 9px;
		height: 15px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_italic_0_0___0_0;
-chance-offset: "resources/images/icons/italic_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.underline {
		width: 13px;
		height: 15px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_text_underline_0_0___0_0;
-chance-offset: "resources/images/icons/text_underline_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.insert-ordered-list {
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_list_0_0___0_0;
-chance-offset: "resources/images/icons/list_0_0___0_0" 0 0;background-repeat: no-repeat;

	}

	.insert-unordered-list {
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_list_0_0___0_0;
-chance-offset: "resources/images/icons/list_0_0___0_0" 0 0;background-repeat: no-repeat;		
	}

	.justify-left {
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_align_left_0_0___0_0;
-chance-offset: "resources/images/icons/align_left_0_0___0_0" 0 0;background-repeat: no-repeat;
	}

	.justify-full {
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_justify_0_0___0_0;
-chance-offset: "resources/images/icons/justify_0_0___0_0" 0 0;background-repeat: no-repeat;
	}

	.justify-center {
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_align_center_0_0___0_0;
-chance-offset: "resources/images/icons/align_center_0_0___0_0" 0 0;background-repeat: no-repeat;
	}

	.justify-right{
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_align_right_0_0___0_0;
-chance-offset: "resources/images/icons/align_right_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.indent {
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_left_indent_0_0___0_0;
-chance-offset: "resources/images/icons/left_indent_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.outdent{
		width: 15px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_right_indent_0_0___0_0;
-chance-offset: "resources/images/icons/right_indent_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.insert-image {
		width: 15px;
		height: 13px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_picture_0_0___0_0;
-chance-offset: "resources/images/icons/picture_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.embed {
		width: 19px;
		height: 9px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_embed_0_0___0_0;
-chance-offset: "resources/images/icons/embed_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.link {
		width: 14px;
		height: 14px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_link_0_0___0_0;
-chance-offset: "resources/images/icons/link_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.embed-video {
		width: 14px;
		height: 17px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_film_0_0___0_0;
-chance-offset: "resources/images/icons/film_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.vimeo {
		width: 15px;
		height: 15px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_vimeo_0_0___0_0;
-chance-offset: "resources/images/icons/vimeo_0_0___0_0" 0 0;background-repeat: no-repeat;
	}
	
	.youtube {
		width: 15px;
		height: 15px;
		@extend .__chance_slice__sproutcore_wysiwyg_resources_images_icons_youtube_0_0___0_0;
-chance-offset: "resources/images/icons/youtube_0_0___0_0" 0 0;background-repeat: no-repeat;
	}

}