/* Slice resources/images/icons/sc-icon-alert-48_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_alert_48_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-alert-48_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-info-48_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_info_48_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-info-48_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-error-48_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_error_48_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-error-48_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-tools-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_tools_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-tools-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-bookmark-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_bookmark_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-bookmark-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-info-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_info_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-info-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-help-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_help_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-help-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-alert-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_alert_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-alert-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-left-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_left_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-left-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-right-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_right_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-right-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-up-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_up_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-up-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-down-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_down_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-down-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-undo-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_undo_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-undo-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-redo-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_redo_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-redo-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-group-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_group_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-group-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-user-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_user_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-user-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-cancel-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_cancel_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-cancel-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-options-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_options_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-options-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-folder-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_folder_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-folder-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-trash-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_trash_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-trash-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-document-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_document_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-document-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-favorite-24_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_favorite_24_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-favorite-24_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-bookmark-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_bookmark_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-bookmark-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-info-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_info_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-info-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-help-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_help_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-help-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-alert-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_alert_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-alert-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-group-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_group_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-group-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-user-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_user_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-user-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-options-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_options_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-options-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-folder-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_folder_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-folder-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-trash-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_trash_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-trash-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-document-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_document_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-document-16_0_0___0_0";} 
/* Slice resources/images/icons/sc-icon-favorite-16_0_0___0_0, used in: 
	resources/icons.css;
*/.__chance_slice__sproutcore_desktop_resources_images_icons_sc_icon_favorite_16_0_0___0_0 { _sc_chance: "resources/images/icons/sc-icon-favorite-16_0_0___0_0";} 
