
$theme.sc-wysiwyg-editor > .sc-wysiwyg-editor-hint {
  position: absolute;
  top: 0; left: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

$theme.sc-wysiwyg-editor > .sc-wysiwyg-editor-hint,
$theme.sc-wysiwyg-editor > .sc-wysiwyg-editor-inner {
  /* Hiding overflow is required to get images which float off the bottom of the text to behave correctly. */
  overflow: hidden;

  /* Override the blue webkit focus outline. */
  &:focus {
    outline: none;
  }
}
