@import "compass/css3";

$theme.sc-view.button.sc-button-view.sc-wysiwyg-button {

	.hover {
		display: none;
	}

  label {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		line-height: 22px;

		.icon {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
  }
}

/*
 *	Command toolbar icons, retina ready. Need some polishing.
 */
$theme.sc-wysiwyg-toolbar, $theme.sc-wysiwyg-segmented {
	.bold {
		width: 14px;
		height: 19px;
		background-image: sc_static("../images/icons2/bold.png");
	}

	.italic {
		width: 12px;
		height: 19px;
		background-image: sc_static("../images/icons2/italic.png");
	}

	.underline {
		width: 13px;
		height: 15px;
		background-image: sc_static("../images/icons/text_underline.png");
	}

	.insert-ordered-list {
		width: 17px;
		height: 17px;
		background-image: sc_static("../images/icons2/ordered-list.png");

	}

	.insert-unordered-list {
		width: 17px;
		height: 15px;
		background-image: sc_static("../images/icons2/unordered-list.png");
	}

	.justify-left {
		width: 15px;
		height: 14px;
		background-image: sc_static("../images/icons/align_left.png");
	}

	.justify-full {
		width: 15px;
		height: 14px;
		background-image: sc_static("../images/icons/justify.png");
	}

	.justify-center {
		width: 15px;
		height: 14px;
		background-image: sc_static("../images/icons/align_center.png");
	}

	.justify-right{
		width: 15px;
		height: 14px;
		background-image: sc_static("../images/icons/align_right.png");
	}

	.indent {
		width: 25px;
		height: 25px;
		background-image: sc_static("../images/icons2/left_indent.png");
	}

	.outdent {
		width: 25px;
		height: 25px;
		background-image: sc_static("../images/icons2/right_indent.png");
	}

	.insert-image {
		width: 17px;
		height: 15px;
		background-image: sc_static("../images/icons2/picture.png");
	}

	.embed {
		width: 19px;
		height: 9px;
		background-image: sc_static("../images/icons/embed.png");
	}

	.link {
		width: 17px;
		height: 19px;
		background-image: sc_static("../images/icons2/link.png");
	}

	.embed-video {
		width: 25px;
		height: 25px;
		background-image: sc_static("../images/icons2/film.png");
	}

	.fullscreen {
		width: 25px;
		height: 25px;
		background-image: sc_static("../images/icons2/fullscreen.png");
	}
}